@import "../../../../assets/styles/mixins";
@import "../../../../assets/styles/variables";

.favourite {
  padding-top: 50px;
  padding-bottom: 110px;

  .container {
    .favourite-title {
      @include head-lora-36;
      color: $green-text-color;
      margin-bottom: 35px;
    }

    .favorite-empty {
      margin-top: 20px;
      margin-bottom: 100px;

      div {
        font-size: 16px;
      }

      .button {
        width: 255px;
        margin-top: 10px;
      }
    }


    .favourite-products {
      .favourite-product {
        padding-top: 15px;
        margin-top: 15px;
        border-top: 1px solid #E7F1E8;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:first-child {
          padding-top: 0;
          margin-top: 0;
          border-top: 0;
        }

        .favourite-product-image {
          width: 100px;
          height: 100px;
          background-position: center;
          background-size: cover;
        }

        .favourite-product-name {
          margin-left: 24px;
          font-size: 20px;
          color: $gray-text-color;
          width: 567px;
        }

        .favourite-product-price {
          color: $gray-text-color;
          font-family: 'Montserrat', sans-serif;
          font-size: 22px;
          font-style: normal;
          font-weight: 600;
          width: 100px;
          margin-right: 100px;
        }

        .favourite-product-action {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          button {
            width: 160px;
          }

          .button-transparent {
            margin-bottom: 10px;
          }
        }

        .favourite-product-remove {
          margin-left: 61px;
          cursor: pointer;
        }
      }
    }
  }
}
