@font-face {
  src: url("../fonts/Montserrat-Bold.ttf");
  font-family: "Monserrat";
  font-weight: 700;
}

@font-face {
  src: url("../fonts/Montserrat-SemiBold.ttf");
  font-family: "Monserrat";
  font-weight: 600;
}

@font-face {
  src: url("../fonts/Montserrat-Medium.ttf");
  font-family: "Monserrat";
  font-weight: 500;
}

@font-face {
  src: url("../fonts/Montserrat-Regular.ttf");
  font-family: "Monserrat";
  font-weight: 400;
}

@font-face {
  src: url("../fonts/Montserrat-LightItalic.ttf");
  font-family: "Monserrat", sans-serif;
  font-style: italic;
  font-weight: 300;
}


@font-face {
  src: url("../fonts/Lora-Regular.woff");
  font-family: "Lora";
  font-weight: 400;
}
